In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('Uber.csv')
df

,Unnamed: 0,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,24238194,2015-05-07 19:52:06.0000003,7.5,2015-05-07 19:52:06 UTC,-73.999817,40.738354,-73.999512,40.723217,1
1,27835199,2009-07-17 20:04:56.0000002,7.7,2009-07-17 20:04:56 UTC,-73.994355,40.728225,-73.994710,40.750325,1
2,44984355,2009-08-24 21:45:00.00000061,12.9,2009-08-24 21:45:00 UTC,-74.005043,40.740770,-73.962565,40.772647,1
3,25894730,2009-06-26 08:22:21.0000001,5.3,2009-06-26 08:22:21 UTC,-73.976124,40.790844,-73.965316,40.803349,3
4,17610152,2014-08-28 17:47:00.000000188,16.0,2014-08-28 17:47:00 UTC,-73.925023,40.744085,-73.973082,40.761247,5
...,...,...,...,...,...,...,...,...,...
199995,42598914,2012-10-28 10:49:00.00000053,3.0,2012-10-28 10:49:00 UTC,-73.987042,40.739367,-73.986525,40.740297,1
199996,16382965,2014-03-14 01:09:00.0000008,7.5,2014-03-14 01:09:00 UTC,-73.984722,40.736837,-74.006672,40.739620,1
199997,27804658,2009-06-29 00:42:00.00000078,30.9,2009-06-29 00:42:00 UTC,-73.986017,40.756487,-73.858957,40.692588,2
199998,20259894,2015-05-20 14:56:25.0000004,14.5,2015-05-20 14:56:25 UTC,-73.997124,40.725452,-73.983215,40.695415,1
199999,11951496,2010-05-15 04:08:00.00000076,14.1,2010-05-15 04:08:00 UTC,-73.984395,40.720077,-73.985508,40.768793,1

In [3]:
df.drop(['key','pickup_datetime'],axis=1,inplace=True)
df

,Unnamed: 0,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,24238194,7.5,-73.999817,40.738354,-73.999512,40.723217,1
1,27835199,7.7,-73.994355,40.728225,-73.994710,40.750325,1
2,44984355,12.9,-74.005043,40.740770,-73.962565,40.772647,1
3,25894730,5.3,-73.976124,40.790844,-73.965316,40.803349,3
4,17610152,16.0,-73.925023,40.744085,-73.973082,40.761247,5
...,...,...,...,...,...,...,...
199995,42598914,3.0,-73.987042,40.739367,-73.986525,40.740297,1
199996,16382965,7.5,-73.984722,40.736837,-74.006672,40.739620,1
199997,27804658,30.9,-73.986017,40.756487,-73.858957,40.692588,2
199998,20259894,14.5,-73.997124,40.725452,-73.983215,40.695415,1
199999,11951496,14.1,-73.984395,40.720077,-73.985508,40.768793,1

In [4]:
df.isna().sum()

Unnamed: 0           0
fare_amount          0
pickup_longitude     0
pickup_latitude      0
dropoff_longitude    1
dropoff_latitude     1
passenger_count      0
dtype: int64

In [5]:
df['dropoff_longitude'].fillna(df['dropoff_longitude'].mean(),inplace=True)
df['dropoff_latitude'].fillna(df['dropoff_latitude'].mean(),inplace=True)

In [6]:
df.isna().sum()

Unnamed: 0           0
fare_amount          0
pickup_longitude     0
pickup_latitude      0
dropoff_longitude    0
dropoff_latitude     0
passenger_count      0
dtype: int64

In [7]:
inputs=df.drop(["fare_amount"],axis=1)
inputs

,Unnamed: 0,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,24238194,-73.999817,40.738354,-73.999512,40.723217,1
1,27835199,-73.994355,40.728225,-73.994710,40.750325,1
2,44984355,-74.005043,40.740770,-73.962565,40.772647,1
3,25894730,-73.976124,40.790844,-73.965316,40.803349,3
4,17610152,-73.925023,40.744085,-73.973082,40.761247,5
...,...,...,...,...,...,...
199995,42598914,-73.987042,40.739367,-73.986525,40.740297,1
199996,16382965,-73.984722,40.736837,-74.006672,40.739620,1
199997,27804658,-73.986017,40.756487,-73.858957,40.692588,2
199998,20259894,-73.997124,40.725452,-73.983215,40.695415,1
199999,11951496,-73.984395,40.720077,-73.985508,40.768793,1

In [8]:
output=df['fare_amount']
output

0          7.5
1          7.7
2         12.9
3          5.3
4         16.0
          ...
199995     3.0
199996     7.5
199997    30.9
199998    14.5
199999    14.1
Name: fare_amount, Length: 200000, dtype: float64

In [9]:
from sklearn.model_selection import train_test_split 
X_train,X_test,y_train,y_test= train_test_split(inputs,output,test_size=0.8)

In [10]:
from sklearn.linear_model import LinearRegression
reg=LinearRegression()
reg

LinearRegression()

In [11]:
reg.fit(X_train,y_train)

LinearRegression()

In [13]:
y_predict=reg.predict(X_test)
y_predict

array([11.32995419, 11.3236857 , 11.29104714, ..., 11.31399266,
       11.39141828, 11.49748493])